services:
  mariadb:
    image: mariadb:10.11
    hostname: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: domjudge
      MYSQL_USER: domjudge
      MYSQL_PASSWORD: domjudge
    ports:
      - "13306:3306"
    volumes:
      - ./domserver-data:/var/lib/mysql

  domserver:
    image: domjudge/domserver:9.0.0
    hostname: domserver
    restart: always
    environment:
      MYSQL_HOST: mariadb
      MYSQL_DATABASE: domjudge
      MYSQL_USER: domjudge
      MYSQL_PASSWORD: domjudge
      MYSQL_ROOT_PASSWORD: root
      CONTAINER_TIMEZONE: Asia/Bangkok
    ports:
      - "80:80"
    depends_on:
      - mariadb
