services:
  mariadb:
    image: docker.io/mariadb
    hostname: mariadb
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=domjudgeisas
      - MYSQL_USER=domjudgeisas
      - MYSQL_PASSWORD=domjudgeisas
      - MYSQL_DATABASE=domjudgeisas
    ports:
      - 13306:3306
    command: --max-connections=1000 --max-allowed-packet=1024M --innodb_snapshot_isolation=OFF
    volumes:
      - ./domserver-data:/var/lib/mysql:Z
  domserver:
    image: docker.io/domjudge/domserver:9.0.0
    hostname: domserver
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=domjudgeisas
      - MYSQL_USER=domjudgeisas
      - MYSQL_PASSWORD=domjudgeisas
      - MYSQL_DATABASE=domjudgeisas
      - MYSQL_HOST=mariadb
      - CONTAINER_TIMEZONE='Asia/Bangkok'
    ports:
      - 80:80
    mem_limit: 4g
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  judgehost:
    image: docker.io/domjudge/judgehost:9.0.0
    hostname: judgehost
    privileged: true
    restart: always
    environment:
      - DAEMON_ID=0
      - JUDGEDAEMON_PASSWORD=domjudgeisas
      - DOMSERVER_BASEURL=http://domserver/
      - CONTAINER_TIMEZONE='Asia/Bangkok'
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    links:
      - domserver